*{
    margin:0;
    padding:0;

}
.icon_1,.icon_2,.icon_3{
    background:url(../../img/icontree_1.png) no-repeat 0px  0px ;
    padding-left:25px;
    padding-bottom:5px;
    padding-top:2px;
    margin-left:25px;
}
.icon_2{
    background-position:-42px 0px;
}
.icon_3{
    background-position:-89px -1px;
}
.TreeTable{
    width:100%;
    border:1px solid #c7c6c5;
    box-shadow:0 0 10px #c7c6c5;
}
.TreeTable tr td {
    width:377px;
}
.TreeTable th{
    text-align:center;
    height:60px;
    background:#d3d3d3;
    border-bottom:2px solid #3d3d3d;
    border-left:1px solid #c7c6c5;
    color:#276ab0;
}
.TreeTable th:first-child{
    border-left:none;
}

.TreeTable td {
    height:60px;
    text-align:center;
    border-bottom:1px solid #c7c6c5;
    border-left:1px solid #c7c6c5;
    color:#028ffe;
}
.TreeTable td:first-child{
    border-left:none;
}
.TreeTable tr td:nth-child(1){
    text-align:left;
}
.TreeTable tr:last-child td:nth-child(n){
    border-bottom:none;
}

/*TreeNodeTableµÄÑùÊ½*/
.TreenodeTable{
    width:100%;
}
.TreenodeTable th{
    text-align:center;
    height:60px;
    background:#f5f9fd;
    border-bottom:1px solid #03569c;
    border-left:1px solid #c7c6c5;
}
.TreenodeTable th:first-child{
    border-left:none;
}

.TreenodeTable td {
    height:60px;
    text-align:center;
    border-bottom:1px solid #c7c6c5;
    border-left:1px solid #c7c6c5;
}
.TreenodeTable td:first-child{
    border-left:none;
}
.TreenodeTable tr td:nth-child(1){
    text-align:left;
}
.kong{
    display:inline-block;
    margin-left:20px;
}
.kong_1{
    margin-left:40px;
}
.kong_2{
    margin-left:60px;
}