*{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
.bg{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.bg > img {
    height:100%;
    min-height:720px;
    width:100%;
    border:0;
}
.wrap{
    width:1080px;
    margin:0 auto;
}
.head{
    background:#9b9b9b;
    border:1px solid #ddd;
    height:100px;
    line-height:100px;
}
.lf{
    float:left;
}
.logo{
    margin-right:10px;
    padding-top:6px;
}
.up{
    margin-right:5px;
    font-size:30px;
    color:#fff;
}
.main .prompt{
    margin-top:20px;
    color:#505050;

}
.picture1,.picture2,.picture3{
    display:inline-block;
    margin-left:140px;
    margin-top:50px;
    padding-top:70px;
    width:100px;
}
.picture1{
    background:url(../../img/error.png) no-repeat -346px 0;
    padding-left:10px;
}
.picture2{
    background:url(../../img/error.png) no-repeat -172px 0;
    padding-left:10px;
}
.picture3{
    background:url(../../img/error.png) no-repeat 0 0;
}


