.dnt_wrap{
    width:1280px;
    margin:0 auto;
}
*{
    margin:0;
    padding:0;
    font-family: Arial, Verdana, "microsoft yahei";
    list-style: none;
    box-sizing:border-box;
}
.dnt_out{
    border:1px solid #ddd;
    width:900px;
    margin:0 auto;
}
.dnt_top{
    width:35%;
    display:inline-block;
    text-align:center;
}
.dnt_button{
    margin:5px;
    border:none;
    width:60px;
    height:40px;
    border-radius:5px;
}
.dnt_name{
    font-size:20px;
    font-weight:700;
}
.dnt_input{
    width:200px;
    height:30px;
    line-height:30px;
    border-radius:5px;
}
.dnt_title{
    height:50px;
    line-height:50px;
    text-align:center;
    border-bottom:1px solid #ddd;
}
.dnt_detail_out{
    margin:20px;
    border:1px solid #aaa;
    height:500px;
    overflow:auto;
    position:relative;
}
.dnt_detail{
     position:relative;
    border:1px solid #ddd;
    border-bottom:0;
    border-radius:5px;
    margin:2px;
}
.dnt_list{
    margin:10px;
    padding:5px;
    border-bottom:1px solid #ddd;
}
.dnt_word_or{
    position:absolute;
    top:50%;
    right:10px;
    margin:-19px 0 -19px 0;
}