
*{
    margin:0;
    padding:0;
    font-size:12px;
    box-sizing: border-box;
    font-family: "Î¢ÈíÑÅºÚ";
}
a{
    text-decoration:none;
}
a{
    color:#666;
}
.lf{
    float:left;
}
.rf{
    float:right;
}
.clear{
    clear:both;
}
.bg{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.bg > img {
    height:100%;
    min-height:720px;
    width:100%;
    border:0;
    padding-bottom:30px;
}

.wrap{
    width:1510px;
    margin:0 auto;
}
.main{
    width:100%;
    top:10%;
}
.LogoWord{
    font-size:20px;
}
.main_out{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:350px;
    height:540px;
    background:#fff;
}
.logodown{
    padding-left:10px;
}
.middle{
    height:75px;
    text-align:center;
}
.main_word{
    font-size:60px;
    color:#3175b8;
}
.down{
    color:red;
    margin-top:15px;
    margin-bottom:2px;
    height:20px;
}
.up{
    width:15px;
    height:15px;
    vertical-align: middle;
}
.right{
    margin-bottom:20px;
    position:relative;
    width:328px;
}
.email,.pass,.passtest{
    padding-left:35px;
    width:330px;
    height:35px;
    border:1px solid #3075b8;
    border-radius:10px;
    background:#fff;
    font-size:17px;
}
.emailicon,.passicon,.passtesticon{
    background:url(../../../img/blue/login/cb_icon.png) no-repeat 0 0;
    display:block;
    width:25px;
    height:25px;
    position:absolute;
    top:8px;
    left:10px;
}
.passicon{
    background-position:0 -100px;
}
.passtesticon{
    background-position:-1px -194px;
}
.passtest{
    width:160px;
    height:35px;
    border-radius:10px;
    border:1px solid #3075b8;
    vertical-align:top;
}
.rember_user{
    vertical-align:middle;
}
.rember_user i{
    background:url(../../../img/blue/login/cb_icon.png) no-repeat 0 190px;
}
.LG{
    display:inline-block;
    font-size:20px;
    font-weight:bold;
    width:328px;
    height:30px;
    background:#3175b8;
    color:#fff;
    border-radius:5px;
    border:none;
    box-shadow:0 2px 2px #3175b8;
}
.fright{
    float:right;
}
.fleft{
    float:left;
}
.foot{
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    line-height:30px;
    background:#2b6cae;
    text-align:center;
}
.foot a{
    color:#fff;
    font-size:12px;
}