
*{
    margin:0;
    padding:0;
    list-style-type:none;
    box-sizing: border-box;
}
a,img{
    border:0;
}
body{
    line-height:2em;
    background-color:#ffffff;
    font-family:arial, helvetica, sans-serif;
    color:#666666;
    font-size:12px;
}
a{
    text-decoration:none;
}
a:hover{
    color:#3175b8;
    text-decoration:underline;
}

/* nav */
.nav{
    position:fixed;
    left:50%;
    margin-left:-100px;
    z-index:9999;
    width:190px;
}
.nav .allbtn{
    z-index:99999;
    position:relative;
}
.nav .allbtn h2{
    font-size:14px;
    box-shadow:2px 0px 6px -3px #428000;
    -webkit-box-shadow:2px 0px 6px -3px #428000;
    -moz-box-shadow:2px 0px 6px -3px #428000;
}
.nav .allbtn h2 a{
    line-height:30px;
    background-color:#0581fb;
    padding-left:10px;
    display:block;
    font-family:微软雅黑, 黑体;
    height:30px;
    color:#ffffff;
    font-size:14px;
    font-weight:normal;
}
.nav .allbtn h2 a:hover{
    background-color: #3175b8;
    text-decoration:none;
}
.nav .allbtn .box{
    z-index:99999;
    position:absolute;
    background-color:#88d2f8;
    width:190px;
    display:none;
    height:486px;
    top:30px;
    left:0px
}
.nav .allbtn .box li{
    padding-bottom:7px;
    zoom:1;
    clear:both;
    cursor:default;
}
.nav .allbtn .box li .tx{
    line-height:35px;
    background-color:#469df3;
    padding-left:15px;
   height:35px;
}
.nav .allbtn .box li .tx a{
    font-family:微软雅黑, 黑体;
    color:#ffffff;
    font-size:14px;
    -webkit-transition:color 0.5s ease-out 0s;
    -moz-transition:color 0.5s ease-out 0s;
    -ms-transition:color 0.5s ease-out 0s;
    -o-transition:color 0.5s ease-out 0s;
    transition:color 0.5s ease-out 0s;
}
.nav .allbtn .box li .pop{
    border-bottom:#0557a9 2px solid;
    position:absolute;
    border-left:medium none;
    padding-bottom:10px;
    background-color:#fcfcfc;
    padding-left:30px;
    width:340px;
    padding-right:30px;
    display:none;
    height:464px;
    top:0px;
    border-right:#0557a9 2px solid;
    padding-top:10px;
    left:190px;
    box-shadow:4px 4px 5px -1px #999999;
    -webkit-box-shadow:4px 4px 5px -1px #999999;
    -moz-box-shadow:4px 4px 5px -1px #999999;
}
.nav .allbtn:hover .box{
    display:block;
}
.nav .allbtn .box li:hover{
    background-color:#fcfcfc;
}
.nav .allbtn .box li:hover .tx{
    background-color:#f5f5f5;
}
.nav .allbtn .box li:hover .tx a{
    color:#333333;
}
.nav .allbtn .box li:hover .pop{
    display:block;
    top:0px;
    left:190px;
}
.nav .allbtn .box li:hover a{
    color:#666666;
}
.nav .allbtn .box li:hover a:hover{
    color:#cd0606;
}
.MonitorDetail{
    border:1px solid #2f73b9;
    border-top:none;
}
.MD2{
    border-left:0;
    border-right:0;
}
.MonitorDetailRight{
    text-align:center;
    height:33%;
    border-bottom:1px solid #2f73b9;
}
.MonitorDetailMiddle{
    text-align:center;
    height:46%;
    border-bottom:1px solid #2f73b9;
}
.MonitorButton{
    width:100px;
    height:28px;
    margin:3px 7px;
    background:#fff;
}
.monitorname,.MonitorTableDetail{
    width:99%;
    /*margin:30px 3px 0 3px;*/
    text-align:center;
    overflow:hidden;
}
.monitorname tr td{
    height:38px;
}
.MonitorTableDetail tr td:first-child{
   text-align:left;
}
.MonitorTableDetail th{
    background:#d7d7d7;
}
.StrageDateClient,.StrageDateMedia,.AdDateClient,.AdDateMedia,.AdNewsClient,.AdNewsMedia,.exclusionClient,.exclusionMedia,.exclusionideaClient,.exclusionideaMedia{
    border:1px solid #2f73b9;
    width:90%;
    margin:5px auto;
    display:none;

}
.StrageDateClient tr td,.AdDateClient tr td,.AdNewsClient tr td,.exclusionClient tr td,.exclusionideaClient tr td ,.StrageDateMedia tr td,.AdDateMedia tr td,.AdNewsMedia tr td,.exclusionMedia tr td,.exclusionideaMedia tr td {
    height:20px;
    width:200px;
    text-align:center;
    border-top:1px solid #2f73b9;
    border-left:1px solid #2f73b9;
}
.StrageDateClient tr td:first-child,.AdDateClient tr td:first-child,.AdNewsClient tr td:first-child,.exclusionClient tr td:first-child,.exclusionideaClient tr td:first-child,.StrageDateMedia tr td:first-child,.AdDateMedia tr td:first-child,.AdNewsMedia tr td:first-child,.exclusionMedia tr td:first-child,.exclusionideaMedia tr td:first-child{
    border-left:none;
}
.StrageDateClient tr:nth-child(4),.StrageDateMedia tr:nth-child(4){
    background:#a4e9c1;
}
.cheshi{
    text-align: center;
    border-bottom:0;
}
.cheshi tr td{
    border-bottom:1px solid #000;
    border-left:1px solid #000;
}
.cheshi tr td:first-child{
    border-left:none;
}
.client_quote_big_button,.client_quote_button{
    margin-top:20px;
    width:100px;
    height:30px;
    background:#fff;
}
.client_quote_button{
    width:50px;
}
.monitorname_client{
    border:1px solid #aaa;
    margin:0 auto;
}
/*客户报价的样式开始*/
.client_news{
    text-align:center;
    margin:0 auto;
}
.client_news tr td{
    border:1px solid #ddd;
}
/*客户报价的样式结束*/
/*报价类型开始*/
.offer_type{
    text-align:center;
    margin:10px auto;
    width:90%;
    border:1px solid #0088CC;
    display:none;
}
.offer_type tr td{
    border:1px solid #0088CC;
    border-left:none;
    border-bottom:none;
}
.offer_type tr td:last-child{
    border-right:none;
}
/*报价类型结束*/
/*put_order样式开始*/
.put_type_header{
    width:100%;
    height:50px;
    line-height:50px;
    border:1px solid #0088CC;
    text-align:center;
}
.put_type_artical,.put_type_main{
    border:1px solid #0088CC;
    border-top:none;
    float:left;
    width:30%;
}
.put_type_main{
    width:70%;
    border-left:none;
}
.put_type_main_out{
    width:100%;
    height:70%;
    border-bottom:1px solid #0088CC;
}
.put_type_footer{
    width:100%;
    height:30%;
}
.put_type_main_out_left,.put_type_main_out_right{
    float:left;
    border-right:1px solid #0088CC;
    width:30%;
    height:100%;
}
.put_type_main_out_right{
    width:70%;
    border-right:none;
}
.put_type_detail,.put_type_detail2{
    width:100%;
    height:50%;
    border-bottom:1px solid #0088CC;
}
.put_type_detail2{
    border-bottom:none;
}
/*put_order样式结束*/