*{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
a:hover{
    color:#005AA0;
}
.clear{
    clear:both;
}
.lf{
    float:left;
}
.rf{
    float:right;
}
@media screen and (min-width: 1000px) and (max-width:1600px){
    .wrap{
        width:1080px;
        margin:0 auto;
    }
    .DomBread{
        width:1080px;
        margin:0 auto;
    }
    .DomSelect{
        width:1080px;
        margin:0 auto;
    }
    .DomSelectTable{
        width:1080px;
        margin:0 auto;
    }
    .DomView{
        width:1080px;
        margin:0 auto;
    }
    .DomMatter{
        width:1080px;
        margin:0 auto;
    }
    .logo{
        width:80px;
    }
    .nav ul{
        width:400px;
    }
    .ComUse{
        width:1080px;
        margin:0 auto 10px auto;
        border:1px solid #3175b8;
    }
}
@media screen and (min-width:1600px) and (max-width:1920px) {
    .wrap{
        width:1510px;
        margin:0 auto;
    }
    .DomView{
        width:1510px;
        margin:0 auto;
    }
    .DomBread{
        width:1510px;
        margin:0 auto;
    }
    .DomSelect{
        width:1510px;
        margin:0 auto;
    }
    .DomSelectTable{
        width:1510px;
        margin:0 auto;
    }
    .DomMatter{
        width:1510px;
        margin:0 auto;
    }
    .ComUse{
        width:1510px;
        margin:0 auto 10px auto;
        border:1px solid #3175b8;
    }
}
/*媒体广告位管理页面的样式*/
.DomUpBody {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background:#fff;
}
.DomBody {
    padding-bottom: 30px;/*高度等于footer的高度*/
}
/*面包屑开始*/
.DomBread_nav{
    margin:19px auto;
    margin-top:0;
    padding-top:19px;
}
.DomBread_nav a{
    color:#515151;
    font-size:14px;
    font-weight: 200;
}
.DomBread_nav  i{
    background:url(../../../img/blue/icon1.png) no-repeat 0 -130px;
    padding-left:50px;
    padding-top:20px;
    padding-bottom:17px;
    margin-right:5px;
}
/*面包屑结束*/
/*最前边的按钮样式*/
.DomButton{
    color:#666;
    padding:30px auto;
    height:90px;
}
.DomButton button{
    font-weight:500;
    width:150px;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:35px;
    font-size:20px;
    margin-top:25px;
}
/*最前边的样式结束*/
/*页面上的展示框开始*/
.DomView{
    height:170px;
    border:1px solid #e4ebf1;
    box-shadow:0 0 10px #e4ebf1;
    margin-bottom:20px;
}
.DomView .flyL{
    width:23%;
    float:left;
    height:130px;
    margin-top:20px;
    background:#f9f9f9;
}
.DomView .flyR{
    width:23%;
    float:right;
    height:130px;
    margin-top:20px;
    background:#f9f9f9;
}
.DomView .flyL .word,.DomView .flyR .word{
    display:inline-block;
    font-size:40px;
    margin-bottom:20px;
    float:right;
    padding-top:40px;
}
.DomView .clickSun{
    border-left:40px solid #fff;
}
.DomView .clickRate {
    border-right:40px solid #fff;
}
.DomView .exposeSun .word{
    color:#31a423;
}
.DomView .clickSun .word{
    color:#e5883a;
}
.DomView .clickRate .word{
    color:#db74a1;
}
.DomView .total .word{
    color:#aa48c3;
}
/*页面上的展示框结束*/

/*媒体TablePage部分开始*/
.DomMatter{
    /*border:2px solid #e8e8e8;*/
}
.DomPageMatter{
    background:#fff;
}
.TableHeader{
    border:1px solid #e4ebf1;
    box-shadow:0 0 10px #e4ebf1;
    height:50px;
    border-bottom:0;
    line-height:50px;
    font-family: Arial,Verdana,"microsoft yahei";
}
.first{
    float:left;
    font-size:18px;
    height:50px;
    line-height:50px;
    color: #000;
    margin-left:10px;
    border-radius:5px;
}
.DomPageMatter .last{
    float:right;
    font-size:15px;
    margin-right:10px;
}
.TablePage{
    width:100%;
    text-align:center;
    background:#fff;
    font-family: Arial,Verdana,"microsoft yahei";
}
.TablePageEasy{
    text-align:center;
    font-family: Arial,Verdana,"microsoft yahei";
}
.TablePageEasy tr td{
    width:230px;
    height:35px;
}
.TablePageEasy tr:hover{
    background:#e1ecfe;
}
.TablePageEasy thead tr th{
    text-align:center;
    background:#f5f9fd;
    height:45px;
    font-size:16px;
    color:#000;
}
.TablePage tr td:first-child{
    width:50px;
    background:#f5f9fd;
}

.TablePage  tr td{
    width:1530px;
    height:35px;
}
.TablePage tr:hover{
    /*background:#ffe48d;*/
}
.TablePage thead tr th{
    text-align:center;
    background:#f5f9fd;
    border-bottom:2px solid #b1d2f3;
    height:45px;
    font-size:16px;
    color:#000;
}
/*tablePage部分结束*/
/* TableEdit部分开始*/
.DomEditMatter{
    background:#fafbfd;
}
.DomEditMatter p{
    width:1080px;
    margin:10px  auto;
    border-bottom:1px solid #8e8e8e;
    font-size:16px;
    color:#acaaab;
}
.TableEdit thead tr th{
    font-size:20px;
    background:#f5f9fd;
    padding:6px;
    font-family: Arial,Verdana,"microsoft yahei";
    font-weight:400;
}
.TableEdit{
    width:100%;
    color:#515151;
}
.TableEdit tr td{
    height:50px;
    background:#fff;
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
}
/* TableEdit部分结束*/
/*TableView部分开始*/
.DomViewMatter{
    background:#fafbfd;
}
.TableView{
    width:100%;
    color:#6a6a6a;
}
.TableView tr th{
    font-size:18px;
    font-weight:500;
    padding:6px;
    font-family: Arial,Verdana,"microsoft yahei" ;
    background:#f5f9fd;
}
.TableView tr td{
    padding:5px ;
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
}
/*TableView部分结束*/

/*.............................................编辑区文本框.....................................................*/
/*TableEdit中的select和input*/
.pageTextarea{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    margin:20px 10px;
    border-radius:5px;
}
.pageSelect{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:30px;
    margin:20px 10px;
    border-radius:5px;
    color:#6a6a6a;
}
.pageRadio{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:30px;
    margin:20px 5px;
    vertical-align: middle;
}
.pageCheckbox{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:30px;
    margin:20px 5px;
    vertical-align: middle;
}
.pageText{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:30px;
    line-height:30px;
    margin:20px 10px;
    border-radius:5px;
}
.pageButton,.sub{
    border:none;
}
/*.............................................编辑区的end.....................................................*/

/*..................................................查询区begin................................................................*/
/*搜索的样式开始*/
.DomSelect{
    box-shadow: 0 0 10px #e4ebf1;
    border:1px solid #e4ebf1;
    margin-top:30px;
    margin-bottom:20px;
}
.DomSelectLine{
    width:100%;
    border-bottom:1px solid #dce0e3;
    height:40px;
}
.DomSelectLine .first{
    float:left;
    height:25px;
    border:none;
    font-size:15px;
    font-weight:700;
    color:#2e2f33;
    background:#fff;
}
.DomSelectLine .last{
    float:right;
    background:url(../../../img/blue/icon1.png) no-repeat 0 -90px;
    height:25px;
    padding-left:25px;
    border:none;
}
.DomSelectLine button{
    margin:6px;
    color:#1858b2;
}
/*搜索的样式结束*/
/*搜索table样式*/
.DomSelectTable{
    background:#fff;
}
.DomSelectTable tr td{
    height:50px;
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
}
/*搜索table样式中文本框样式*/
.SearchTextarea{
    height:50px;
    margin:20px 10px;
}
.SearchSelect{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:25px;
    margin:20px 5px;
    border-radius:5px;
    color:#6a6a6a;
}
.SearchRadio{
    height:25px;
    margin:20px 5px;
    vertical-align: middle;
}
.SearchCheckbox{
    height:25px;
    margin:20px 5px;
    vertical-align: middle;
}
.SearchText{
    font-size:14px;
    font-weight:500;
    font-family: Arial,Verdana,"microsoft yahei" ;
    height:25px;
    line-height:25px;
    margin:20px 10px;
    border-radius:5px;
}
.SearchButton,.sub{
    border:none;
    background:#2769af;
    color:#fff;
    width:114px;
    height:30px;
    font-size:15px;
    border-radius:5px;
}

/*..................................................查询区的end................................................................*/
/***************************************************按钮的样式start****************************************************************************/
/*更新按钮开始*/
.updateButton{
    background:#2cbddc;
    color:#fff;
    border-radius:5px;
}
.updateButton i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -165px;
    padding-left:25px;
    padding-top:6px;
    padding-bottom:1px;
    margin-left:7px;
}
.updateButton:hover{
    background:#1ba6c3;
    color:#c1d2da;
}
.updateButton:hover i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0\9 -203px\9;
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -203px !important;
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -203px;
}
/*更新按钮结束*/
/*编辑按钮开始*/
.reviseButton{
    background:#2cbddc;
    color:#fff;
    border-radius:5px;
}
.reviseButton i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -414px;
    padding-left:25px;
    padding-top:6px;
    margin-left:7px;
}
.reviseButton:hover{
    background:#1ba6c3;
    color:#c1d2da;
}
.reviseButton:hover i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -458px;
}
/*编辑按钮结束*/
/*查询按钮的样式开始*/
.fundButton{
    background:#2cbddc;
    color:#fff;
    border-radius:5px;
}
.fundButton i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 0px;
    padding-left:25px;
    padding-top:6px;
    margin-left:7px;
}
.fundButton:hover{
    background:#1ba6c3;
    color:#c1d2da;
}
.fundButton:hover i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -40px;
}
/*查询按钮的样式结束*/
/*删除按钮的样式开始*/
.delButton{
    background:#2cbddc;
    color:#fff;
    border-radius:5px;
}
.delButton i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -240px;
    padding-left:25px;
    padding-top:6px;
    margin-left:7px;
}
.delButton:hover{
    background:#1ba6c3;
    color:#c1d2da;
}
.delButton:hover i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -281px;
}
/*删除按钮的样式结束*/
/*冻结按钮的样式开始*/
.iceButton{
    background:#2cbddc;
    color:#fff;
    border-radius:5px;
}
.iceButton i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -326px;
    padding-left:25px;
    padding-top:6px;
    margin-left:7px;
}
.iceButton:hover{
    background:#1ba6c3;
    color:#c1d2da;
}
.iceButton:hover i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -366px;
}
/*冻结按钮的样式结束*/
/*解冻按钮的样式开始*/
.iceoutButton{
    background:#2cbddc;
    color:#fff;
    border-radius:5px;
}
.iceoutButton i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -81px;
    padding-left:20px;
    padding-top:6px;
    margin-left:7px;
}
.iceoutButton:hover{
    background:#1ba6c3;
    color:#c1d2da;
}
.iceoutButton:hover i{
    background:url(../../../img/blue/iconbtn.png) no-repeat 0 -127px;
}
/*解冻按钮的样式结束*/
/****************************************************按钮的样式结束*****************************************************************************************/



/****************************************************table中的按钮样式开始*********************************************************************************************************/
.buttonA{
    background:#276ab0;
    font-family: Arial,Verdana,"microsoft yahei" ;
    padding:7px 25px;
    font-size:16px;
    color:#fff;
}
.buttonB{
    background:#2f73b9;
    font-family: Arial,Verdana,"microsoft yahei" ;
    padding:7px 25px;
    font-size:16px;
    color:#fff;
}
.buttonC{
    background:#fafbfd;
    font-family: Arial,Verdana,"microsoft yahei" ;
    padding:7px 25px;
    font-size:16px;
}
.buttonD{
    background:#ebebeb;
    font-family: Arial,Verdana,"microsoft yahei" ;
    padding:7px 25px;
    font-size:16px;
}
.buttonBase{
    font-family: Arial,Verdana,"microsoft yahei" ;
    padding:2px 20px;
    font-size:15px;
}

/****************************************************table中的按钮结束**********************************************************************************************************************/
/**********************************commonButton开始只能在查询区用***************************************************/
.commonButton{
    background:#2cbddc;
    color:#fff;
}
.commonButton:hover{
    background: #1ba6c3;
    color:#c1d2da;
}
/**************************commButton结束************************************/
/*******************************A标签样式 begin*******************************************/
.AlabelGreen{
    color: green;
    margin: 0 8px;
}
/*******************************A标签样式 end*******************************************/


/*****************************************SDK下载开始**********************************************/
.PhoneSDK{
    background:url(../../../img/blue/sdk.png) no-repeat 0 -144px;
    padding-right:220px;
    padding-bottom:456px;
    margin:0 0  200px 200px;
}
.PhoneSDK:hover{
    background:url(../../../img/blue/sdk.png) no-repeat -239px -144px;
}
.SDKheight{
    height:500px;
    background:#f3f3f3;
}
.SDKdown{
    background:#f3f3f3;
}
.SDK1{
    width:25%;
    margin-top:100px;
    margin-left:100px;
    text-align:center;
}
.SDK2{
    width:25%;
    margin-top:100px;
    text-align:center;
}
.SDKp{
    width:35%;
    margin-top:20px;
}
.SDKlimit{
    width:185px;
}
.iphoneSDK,.androidSDK{
    display:block;
    margin-top:10px;
    border:1px solid #ddd;
    background:#fbfbfb;
    height:40px;
    line-height:40px;
    border-radius:10px;
}
.iphoneSDK i{
    background:url(../../../img/blue/sdk.png) no-repeat 0 -60px;
    padding-left:50px;
    padding-top:9px;
    padding-bottom:10px;
}
.androidSDK i{
    background:url(../../../img/blue/sdk.png) no-repeat 0 0;
    padding-left:50px;
    padding-top:9px;
    padding-bottom:10px;
}
.MoreDown{
    padding-left:40px;
}
.vers{
    padding-left:160px;
}
.vers1{
    display:block;
    padding:10px 0;
}
/*****************************************SDK下载结束**********************************************/
/****************************************遮罩层的样式开始*******************************************************/
#fullbg {
    background-color:#bdbdbd;
    left:0;
    opacity:0.4;
    position:fixed;
    top:0;
    z-index:3;
    -moz-opacity:0.4;
    width:100%;
}
#dialog {
    background-color:#fff;
    border:1px solid #454646;
    height:400px;
    width:900px;
    left:25%;
    padding:1px;
    top:25%;
    z-index:5;
    border-radius:7px;
    display:none;
}
.close_layer{
    display:block;
    width:20px;
    height:20px;
    border-radius:10px;
    background:#ddd;
    text-align:center;
    line-height:20px;
    cursor: pointer;
    position:absolute;
    right:0;
    top:0;
}
.close_layer:hover{
    background:#f6749c;
    color:#fff;
}
.banner{
    margin:10px;
}
/*****************************************遮罩层样式结束**************************************/
/************************广告位选择*********************************/
.AdsbutAdd{
    width:150px;
    height:40px;
    margin:15px 0 5px 15px;
    font-size:16px;
    background:#276ab0;
    color:#fff;
}
.AdsbutClose{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:10px;
    background:#ddd;
    line-height:20px;
    cursor: pointer;
}
.AdsbutClose:hover{
    background:#e68900;
    color:#fff;
}
.AdsTablePage{
    text-align:center;
    background:#fff;
    font-family: Arial,Verdana,"microsoft yahei";
}
.AdsTablePage  tr td{
    width:230px;
    height:35px;
}
.AdsTablePage thead tr th{
    text-align:center;
    background:#f7f7f7;
    height:30px;
    font-size:15px;
    color:#000;
}
/************************广告位选择*********************************/
/************************人群属性添加开始*********************************/
.dropdivcss {
    width: 40%;
    border: solid #ddd 1px;
    float: left;
    margin: 0 auto;
    height: 75%;
    overflow: auto;
}
.treedivcss {
    width: 40%;
    border: solid #ddd 1px;
    float: right;
    margin: 0 auto;
    height: 75%;
    overflow: auto;
}
.depthdrop {
    width: 90%;
    padding: 10px 5px;
    margin: 5px auto;
    border: solid #ddd 1px;
    background: #ebebe6;
    font-size: 15px;
    position: relative;
}
.depthqie {
    width: 90%;
    padding: 5px 5px;
    margin: 1px auto;
    text-align: center;
    font-size: 15px;
}
.dnt_out {
    border: 1px solid #ddd;
    position: relative;
}
.dnt_top {
    width: 35%;
    display: inline-block;
    text-align: center;
}
.dnt_button {
    margin: 5px;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: #7f8182;
    color: #fff;
    font-size: 15px;
}
.dnt_name {
    font-size: 20px;
    font-weight: 700;
    width: 40%;
}
.dnt_input {
    width: 50%;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
}
.dnt_title,.dnt_select {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 40%;
    border: 1px solid #ddd;
}
.dnt_prompt {
    width: 200px;
    height: 215px;
    border: 1px solid #ddd;
    position: absolute;
    top: 150px;
    left: 50%;
    margin: 0 -100px;
}
.intention{
    background:#ddd;
    height:30px;
    color:#000;
    border:none;
    box-shadow:1px 1px 1px 0 #404242;
    border-radius:3px;
    margin:7px;
}
/************************人群属性添加结束*********************************/
.token{
    box-sizing:border-box;
    margin:-1px 5px  5px 0;
    vertical-align:top;
    cursor:default;
    padding:0 7px;
    height:24px;
    line-height:24px;
    font-size:13px;
    background:none;
    border:1px solid transparent;
    border-bottom: 1px  dotted #0cb969;
    display:inline-block;
}
.token:hover{
    background:#f2f2f2;
    border-radius:5px;
    border-color:#e08484;
}
.token_label{
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:13px;
    color:#4b4949;
    font-weight:200;
    white-space: nowrap;
}
.token_close{
    margin-left:5px;
    font-size:20px;
    font-family:"微软雅黑";
    display:inline-block;
    float:right;
    font-weight:700;
    color:#f9455a;
    text-shadow: 0 1px 0 #fff;
    line-height:20px;
    cursor: pointer;
    position:relative;
    z-index:5;
}

.token_close:hover{
    color:#7a0311;
}
.token_click{
    width:100px;
    height:25px;
    border:none;
    font-size:15px;
    background:#f7f77f;
    color:#34340d;
    border-radius:5px;
    box-shadow:2px 2px 2px #191903;
}
.token_input{
    position:relative;
    z-index:2;
    width:288px;
    min-width:90px;
    border:2px solid #ddd;
    line-height:24px;
    font-size:13px;
    border-radius:5px;
    background:none;
    box-shadow:1px 1px 1px #191903;
}
.token_table{
    width:100%;
}
/***************************************弹出弹出***********************************************************************/
.box_outs{
    display:block;
    width:20px;
    height:20px;
    border-radius:20px;
    background:#f8434c;
    color:#fff;
    line-height:20px;
    cursor:pointer;
}
#key thead th,.key thead th{
    height:35px;
}
#key input{
    vertical-align:middle;
    margin-right:5px;
}
.key input{
    vertical-align: middle;
    margin-right:5px;
}
.tableButton,.upButton{
    display:inline-block;
    padding:8px 0;
    margin:3px 5px;
    width:25px;
    border:1px solid #aaa;
    background:#fff;
}
.upButton{
    width:45px;
    background:green;
    color:#fff;
}

.blue{
    background-color:green;
    color:#fff;
}
.red{
    background:#fa542d;
    color:#fff;
}
.Wdate{
    width:130px;
}
/***************************************弹出弹出***********************************************************************/
/****************************************四个不同颜色的启用开始********************************************************/
.box_up_red,.box_up_green,.box_up_blue,.box_up_greens,.box_up_yellow{
    text-align:center;
    width:254px;
    border:1px solid #f26d4f;
    border-left:10px solid #f26d4f;
    border-radius:10px;
    margin:10px 10px;
    float:left;
}
.box_up_green{
    border:1px solid #a4cb70;
    border-left:10px solid #a4cb70;
}
.box_up_blue{
    border:1px solid #16a0e8;
    border-left:10px solid #16a0e8;
}
.box_up_greens{
    border:1px solid #05b009;
    border-left:10px solid #05b009;
}
.box_up_yellow{
    border:1px solid #f9df06;
    border-left:10px solid #f9df06;
}
.box_light_red,.box_light_yellow,.box_light_greens,.box_light_blue,.box_light_green{
    background:url(../../../img/blue/box_box.png) no-repeat;
    padding-left:30px;
    padding-bottom:10px;
    margin-left:-180px;
}
.box_light_green{
    background-position:0 -48px;
}
.box_light_blue{
    background-position: 0 -98px;
}
.box_light_greens{
    background-position:0 -156px;
}
.box_light_yellow{
    background-position:0 -210px;
}
.box_out{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:20px;
    background:#bababa;
    color:#fff;
    line-height:20px;
    float:right;
    cursor:pointer;
}
.box_out:hover{
    background:red;
}
.box_word_red,.box_word_green,.box_word_blue,.box_word_greens,.box_word_yellow{
    color:#ffb600;
    font-family:'微软雅黑';
    font-size:30px;
    padding:10px;

}
.box_button_red,.box_button_green,.box_button_blue,.box_button_greens,.box_button_yellow{
    color:#fff;
    background:#f26d4f;
    font-size:15px;
    padding:10px 15px;
    margin-bottom:10px;
    border-radius:5px;
}
.box_button_green{
    background:#a4cb70;
}
.box_button_blue{
    background:#16a0e8;
}
.box_button_greens{
    background:#05b009;
}
.box_button_yellow{
    background:#f9df06;
}
/****************************************四个不同颜色的启用结束********************************************************/
/******************************************代办事务页开始********************************************************/
.ComOut{
    width:100%;
    height:400px;
    background:#fff;
    margin-top:20px;
}
.ComOutLeft{
    width:25%;
    height:380px;
    background:#fff;
    position: relative;
}
.ComOwn{
    width:100%;
    height:170px;
    border:1px solid #3175b8;
}
.ComWeather{
    width:100%;
    height:190px;
    border:1px solid #3175b8;
    position:absolute;
    bottom:0;
}
.ComOutRight{
    width:74%;
    height:380px;
    border:1px solid #3175b8;
    position:relative;
}
.ComRemind{
    width:100%;
    border:1px solid #3175b8;
    margin-bottom:20px;
    padding-bottom:20px;
    overflow:auto;
    position:relative;
}

.ComTitle{
    width:100%;
    height:40px;
    line-height:40px;
    background:#3175b8;
    text-indent: 30px;
    color:#fff;
}
.ComArticle{
    margin-left:10px;
    line-height:25px;
    font-size:15px;
    position: relative;
    cursor: pointer;
}
.ComArticle a:hover{
    color:#3175b8;
}
.ComTime{
    position:absolute;
    right:2%;
}
.ComDetail{
    text-indent:40px;
    line-height:20px;
}
.ComMore{
    position:absolute;
    bottom:10px;
    right:20px;
}
.SelfNew{
    text-align:center;
    color:#3175b8;
    margin-top:9px;
}
.SelfDetail{
    color:#3175b8;
}

/*******************************************代办事务页结束*******************************************************/
/*******************************************第一个欢迎页开始***************************************/
.APP_{
    margin:10px;
}
.APP_>img{
    padding-top:25px;
}
/*******************************************第一个欢迎页结束***************************************/
/*********************************修改密码开始**********************************/
.changeOut{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    margin-top:-100px;
    margin-left:-200px;
    text-align: right;

}
.changeInput{
    margin-bottom:20px;
    width:300px;
    height:30px;
    border:1px solid #ddd;
    border-radius:5px;
}
/*********************************修改密码结束**********************************/