* {
    margin: 0;
    padding: 0;
    color: #232323;
    list-style: none;
    font-size:12px;
}
a{
    text-decoration:none;
}
.clear{
    clear:both;
}
@media screen and (min-width:1280px) and (max-width:1600px) {
    .wrap{
        width:1080px;
        margin:0 auto;
    }
}
@media screen and (min-width:1600px) and (max-width:1920px) {
    .wrap{
        width:1510px;
        margin:0 auto;
    }
}
/*头部最上角开始*/
.header{
    height:100px;
    background:#fff;
}
.headerTopRight ul .USER{
    position:relative;
}
.headerTopRight {
    height:30px;
    background:#fff;
    border-bottom:1px solid #95adfe;
}
.headerTopRight ul li h1,.News {
    display:inline-block;
    float:right;
    height:30px;
    line-height:30px;
    font-size:12px;
    padding-left:5px;
    cursor:pointer
}
.headerTopRight ul li .SDK{
    float:right;
    height:20px;
    margin:5px 10px;
    line-height:20px;
    font-size:12px;
}
.headerTopRight ul li h1 b{
    background:url(../../../img/yangshi/icon1.png) no-repeat -133px -80px;
    padding-right:15px;
    margin-left:10px;
}
.headerTopRight ul li .User i{
    background:url(../../../img/yangshi/icon1.png) no-repeat -75px 0;
    padding-left:20px;
    margin-right:5px;
}
.NEWS{
    float:left;
}
.headerTopRight  .NewsBar{
    font-weight:700;
}
.headerTopRight ul li .News{
    position:relative;
    font-weight:700;
}/*修改开始*/
.User{
    position:relative;
}
.change{
    height:80px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:15px;
    background:#fef8f8;
    position:absolute;
    z-index:9999;
    top:30px;
    right:0;
    display:none;
}
.changePwd,.changeExit{
    display:block;
    padding-top:17px;
    margin:0 10px;
    font-weight:700;
}
.changePwd:hover,.changeExit:hover{
    color:red;
}
.changePwd i{
    background:url(../../../img/yangshi/ask.png) no-repeat -94px -65px;
    padding-left:25px;
    padding-bottom:20px;
}
.changeExit i{
    background:url(../../../img/yangshi/ask.png) no-repeat -94px 0;
    padding-left:25px;
    padding-bottom:10px;
}
/*修改结束*/
/*头部最上角结束*/
.logo{
    position:absolute;
    top:45px;
    border:none;
}
.headerNav{
    margin:0 20%;
}
.nav{
    margin-top:10px;
    width:500px;
    min-width:630px;
    margin-left:55px;
}
.nav li {
    float: left;
    display: block;
    background: none;
    position: relative;
    z-index: 1;
    text-align:center;
}
.nav li a {
    display: block;
    line-height: 40px;
    color: #333;
    font-weight:700;
    width:90px;
    border:1px solid #fff;
    padding: 0 20px;
    height:60px;
    margin-left:15px;
    font-size:15px;
    position:relative;
}

.nav li a.hover {
    font-weight:bold;
    color:#276ab0;
    background:url(../../../img/yangshi/hover.png) no-repeat 10px 35px;
}
.nav li a b{
    position:absolute;
    bottom:-30px;
    left:55px;
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../../../img/yangshi/icon1.png) no-repeat -133px 0;
}
.nav ul {
    /*border-top:24px solid transparent;*/
    position: absolute;
    display:none;
    background:#fff;
}
.nav ul li>a:hover {
    background:url(../../../img/yangshi/hover.png) no-repeat 10px 15px;
    color:#000;
}
.nav ul a {
    display: block;
    height: 15px;
    line-height: 15px;
    padding:5px 20px;
    margin-top:5px;
    margin-left:2px;
    color: #5583bc;
    width:90px;
    font-size:12px;
    position:relative;
    left:10%;
    background:#fff;
}
/*.headerNavBar{*/
    /*position:relative;*/
    /*height:38px;*/
    /*border-top:1px solid #c8d8e7;*/
    /*border-bottom:1px solid transparent;*/
    /*background:#fff;*/
/*}*/
/*客户咨询开始*/
.ask{
    position:fixed;
    right:0;
    bottom:10%;
    background:#ab97fe;
}
.ask .askword{
    color:#fff;
    display:block;
}
.asked,.customAsked,.back{
    height:25px;
    background:url(../../../img/yangshi/ask.png) no-repeat 2px 0;
    padding-top:32px;
    margin:10px;
}
.customAsked{
    background-position:3px -58px;
}
.back{
    background-position:3px -113px;
}
.closeAsk{
    border:none;
    width:100%;
    cursor:pointer;
    background:#aeb9fe;
}
/*客户咨询结束*/
/*滚动导航开始*/
/*固定的导航开始*/
.left_middle{
    position:fixed;
    left:0;
    top:50%;
    border:1px solid #e3e3e3;
    color:#ababab;
}
.left_middle ul li a{
    display:block;
    line-height:42px;
    padding:10px 10px;
    color:#ababab;
    background:#e8e3fa;
    border-bottom:1px solid #e3e3e3;
}
.left_middle ul li a:hover{
    background:#c3b6fb;
    color:#fff;
}
.left_middle .Title{
    text-align:center;
    height:20px;
    line-height:20px;
    background:#d5ccfb;
    color:#fff;
}
.closeTitle{
    width:100%;
    border:none;
    background:#c8c0e9;
    color:#fff;
    cursor: pointer;
}
/*固定的导航结束*/
/*俩按钮结束*/


